/*
CONTENTS

1. Form, fieldset & legend
2. Labels & inputs
3. Feedback

*/

/*1. FORM, FIELDSET, LEGEND~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
form {width:100%;}
fieldset {margin-bottom:$verticalSpace;}
legend {font-size:$fontSize*1.4; display:none;}
.form-instructions {
  width:75%;
  // @media all and (max-width: 860px) {
  //   width:100%;
  // }
}
.form-field {
  width:100%;
  // @media all and (min-width:860px) {
  //   width:46%; float:left;
  //   &:nth-child(2n) {margin-right:4%;}
  // }
  

}

/*2. LABELS AND INPUTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
label, input, select, textarea, button {
	display:inline-block;
  box-sizing:border-box; -moz-box-sizing:border-box;
  vertical-align:baseline;
	margin:$verticalSpace/2 0px $verticalSpace;
	font-family:$font; font-size:$fontSize;
  @media all and (max-width:900px) {
    margin:$verticalSpace/3 0px $verticalSpace/2;
    font-size:$fontSize*0.9;
  }
}
/*Addresses Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet.*/ button, input {line-height: normal;}

label {
  margin-bottom:$verticalSpace/2; width:100%;
  @media all and (max-width:900px) {
    margin-bottom:$verticalSpace/4;
  }
}

input, select, textarea {
	padding:6px 8px;
  @media all and (max-width:900px) {
    padding:4px 6px;
  }
	background-color:$white;
  border-radius:$roundedCorners; border:3px solid $grey;
  width:100%; box-sizing:border-box; -moz-box-sizing:border-box;
}
table input, table select, table textarea {margin:0px;}
textarea {vertical-align:top;}

input[type="text"], input[type="tel"], input[type="email"], input[type="search"], input[type="url"], input[type="password"], input[type="file"], input[type="date"], input[type="number"], textarea {
  padding-left:40px;
  background-image:
    -webkit-linear-gradient(left,
      lighten($cyan, 10%) 10px,
      $cyan 11px,
      $cyan 20px,
      darken($cyan, 5%) 21px,
      darken($cyan, 5%) 30px,
      transparent 31px
    )
  ;
  background-image:
    -moz-linear-gradient(left,
      lighten($cyan, 10%) 10px,
      $cyan 11px,
      $cyan 20px,
      darken($cyan, 5%) 21px,
      darken($cyan, 5%) 30px,
      transparent 31px
    )
  ;
  background-image:
    -o-linear-gradient(left,
      lighten($cyan, 10%) 10px,
      $cyan 11px,
      $cyan 20px,
      darken($cyan, 5%) 21px,
      darken($cyan, 5%) 30px,
      transparent 31px
    )
  ;
  background-image:
    -ms-linear-gradient(left,
      lighten($cyan, 10%) 10px,
      $cyan 11px,
      $cyan 20px,
      darken($cyan, 5%) 21px,
      darken($cyan, 5%) 30px,
      transparent 31px
    )
  ;
  background-image:
    linear-gradient(left,
      lighten($cyan, 10%) 10px,
      $cyan 11px,
      $cyan 20px,
      darken($cyan, 5%) 21px,
      darken($cyan, 5%) 30px,
      transparent 31px
    )
  ;
  @media all and (max-width:900px) {
    padding-left:32px;
    background-image:
      -webkit-linear-gradient(left,
        lighten($cyan, 10%) 8px,
        $cyan 9px,
        $cyan 16px,
        darken($cyan, 5%) 17px,
        darken($cyan, 5%) 24px,
        transparent 25px
      )
    ;
    background-image:
      -moz-linear-gradient(left,
        lighten($cyan, 10%) 8px,
        $cyan 9px,
        $cyan 16px,
        darken($cyan, 5%) 17px,
        darken($cyan, 5%) 24px,
        transparent 25px
      )
    ;
    background-image:
      -o-linear-gradient(left,
        lighten($cyan, 10%) 8px,
        $cyan 9px,
        $cyan 16px,
        darken($cyan, 5%) 17px,
        darken($cyan, 5%) 24px,
        transparent 25px
      )
    ;
    background-image:
      -ms-linear-gradient(left,
        lighten($cyan, 10%) 8px,
        $cyan 9px,
        $cyan 16px,
        darken($cyan, 5%) 17px,
        darken($cyan, 5%) 24px,
        transparent 25px
      )
    ;
    background-image:
      linear-gradient(left,
        lighten($cyan, 10%) 8px,
        $cyan 9px,
        $cyan 16px,
        darken($cyan, 5%) 17px,
        darken($cyan, 5%) 24px,
        transparent 25px
      )
    ;
  }
}

/*specific input types*/
input[type="search"] {-webkit-appearance:textfield;}
input[type="file"] {}
input[type="range"] {margin-bottom:$verticalSpace*1.5;}
.radio-inputs {
  input {width:10%;}
  span {display:inline-block; width:89%;}
}
.checkbox-field {
  label {width:89%; float:right;}
  input {width:10%;}
}
.date-field, .colour-field, .number-field {width:22%; margin-right:2%;}
input[type=color] {width:100px; height:100px}

input[type="submit"], input[type="reset"] {width:30%;}
input[type="reset"], input[type="submit"][disabled="disabled"]  {background-color:$grey;}
input[type="submit"] {float:right;}

/*focus styles*/
input:focus, select:focus, textarea:focus {background-color:white; /*border-color:$orange;*/}
/*required styles*/
.required label:after {
  display: inline-block;
  content: '*';
  padding-left: $gutter/2;
}
/*error styles*/
.valid-error input, .valid-error select, .valid-error textarea {border-color:$pink;}

/*error message*/
.form-error, .form-success {
  padding: 0px $gutter; margin-bottom: $verticalSpace;
}
.form-error {
  color: $pink;
}
.form-success {
  color: $cyan;
}

//SEARCH FORM
form[role="search"] {
  fieldset {
    margin:0px;
    .form-field {
      width:80%; float:left; margin-right:0px;
      label {display:none;}
    }
    input {margin:0px;}
    input[type="submit"] {
      width:20%; height:46px;
      background-image:
        url('images/search-icon.png'),
        -webkit-linear-gradient(top,
          lighten($blue, 10%) 33%,
          $blue 34%,
          $blue 66%,
          darken($blue, 5%) 67%
        )
      ;
      background-image:
        url('images/search-icon.png'),
        -moz-linear-gradient(top,
          lighten($blue, 10%) 33%,
          $blue 34%,
          $blue 66%,
          darken($blue, 5%) 67%
        )
      ;
      background-image:
        url('images/search-icon.png'),
        -o-linear-gradient(top,
          lighten($blue, 10%) 33%,
          $blue 34%,
          $blue 66%,
          darken($blue, 5%) 67%
        )
      ;
      background-image:
        url('images/search-icon.png'),
        -ms-linear-gradient(top,
          lighten($blue, 10%) 33%,
          $blue 34%,
          $blue 66%,
          darken($blue, 5%) 67%
        )
      ;
      background-image:
        url('images/search-icon.png'),
        linear-gradient(top,
          lighten($blue, 10%) 33%,
          $blue 34%,
          $blue 66%,
          darken($blue, 5%) 67%
        )
      ;
      background-repeat: no-repeat;
      background-position: center, center;
      background-size: 30px 30px, 100% 100%;
      @media all and (max-width:900px) {
        height:38px;
        background-size: 20px 20px, 100% 100%;
      }
      font-size:0px;
    }
  }
}

