//CONTENTS

// 0. Vars, mixins & extends
// 1. Navs
//     1.1 Simple navs (without list element)
//      1.1.1 Horizontal
//      1.1.2 Vertical
//     1.2 Block navs (with list elements & sub nav)
//      1.2.1 Horizontal
//      1.2.2 Vertical
//      1.2.2 Sub nav
//     1.3 Menu icon on small screens
// 2. Breadcrumbs
// 3. Pagination

// LIST STYLES
$navSeparatorColour: $borderColour !default;
$navBorderColour: $borderColour !default;
$navBackgroundColour: $primaryBackgroundColour !default;

$blockNavBackgroundColour: $tertiaryBackgroundColour !default;
$blockNavHoverColour: darken($blockNavBackgroundColour, 20%) !default;
$blockNavTextColour: $alternateFontColour !default;

$subNavBackgroundColour: $primaryBackgroundColour !default;
$subNavHoverColour: $secondaryBackgroundColour !default;
$subNavTextColour: $tertiaryColour !default;

$paginationBlockActiveBackground: $secondaryBackgroundColour !default;

@mixin clearListStyles() {
  margin: 0px; padding: 0px;
  border: none; outline: none;
  list-style: none;
  li {
    margin: 0px; padding: 0px;
  }
}

// 1. NAVS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

nav ul, nav ol { @include clearListStyles; }
nav {
  position: relative;
  li {
    display: inline-block;
    position: relative;
  }
  a {
    display: block;
    padding: $verticalSpace/2 0px;
  }
}

nav[role="main"] {
  @include until($screenSmall) {display:none;}
  a {
    border:none;
    @include special-border($blue,top,light,4px);
    font-family: $headerFont;
    font-size: $fontSize*1.4;
    @include at-least($screenLarge) {
      @include special-border($blue,bottom,light,8px);
      font-size: $fontSize*2;
    }
    &:nth-child(3n-2) {
      @include special-border($brainDribble,top,light,4px);
      @include at-least($screenLarge) {
        @include special-border($brainDribble,bottom,light,8px);
      }
      color:$brainDribble;
      &:hover {
        color:lighten($brainDribble, 16%);
      }
    }
    &:nth-child(3n-1) {
      @include special-border($craftCode,top,light,4px);
      @include at-least($screenLarge) {
        @include special-border($craftCode,bottom,light,8px);
      }
      color:$craftCode;
      &:hover {
        color:lighten($craftCode, 16%);
      }
    }
    &:nth-child(3n) {
      @include special-border($speakWrite,top,light,4px);
      @include at-least($screenLarge) {
        @include special-border($speakWrite,bottom,light,8px);
      }
      color:$speakWrite;
      &:hover {
        color:lighten($speakWrite, 16%);
      }
    }
    &[href*="mailto"] {
      @include special-border($cyan,top,light,4px);
      @include at-least($screenLarge) {
        @include special-border($cyan,bottom,light,8px);
      }
      color:$cyan;
      &:hover {
        color:lighten($cyan, 16%);
      }
    }
  }
}

.nav-social {
  a {border:none;}
  a[href*="twitter"], a[href*="twitter"]:before {color:$cyan;}
  a[href*="lanyrd"], a[href*="lanyrd"]:before {color:$blue;}
  a[href*="github"], a[href*="github"]:before {color:$purple;}
  a[href*="mailto"], a[href*="mailto"]:before {color:$pink;}
  a[href*="codepen"], a[href*="codepen"]:before {color:$pink;}
  a[href*="feed"], a[href*="feed"]:before {color:$orange;}
}
section .nav-social {
  padding: $verticalSpace/2 $gutter/4;
  a {
    display:inline-block;
    &:before {font-size:40px; padding-right:20px;}
  }
  
}
footer .nav-social {
  @include clearListStyles;
  a, span {
    display:block;
    @include special-border($blue,bottom,light,4px);
  }
  a[href*="twitter"] {@include special-border($cyan,bottom,light,4px);}
  a[href*="github"] {@include special-border($purple,bottom,light,4px);}
  a[href*="mailto"] {@include special-border($pink,bottom,light,4px);}
  a[href*="codepen"] {@include special-border($pink,bottom,light,4px);}
  a[href*="feed"] {@include special-border($orange,bottom,light,4px);}
  a[href*="http"] {
    &:before {padding-right:$gutter*0.66;}
  }
}


// 1.3 Small screen nav menu icon
.nav-toggle {
  @extend .icon-make;
  @extend .i-menu;
  @include at-least($screenMedium) { display: none; }
}
.nav-block, .nav-block-vertical {
  .nav-toggle {
    &:before {
      padding: 8px 12px;
      background-color: $blockNavBackgroundColour;
      color: $blockNavTextColour;
    }
    &:hover:before {
      background-color: $blockNavHoverColour;
      color: $blockNavTextColour;
    }
  }
}
@include until($screenMedium) {
  nav {
    width: 33%;
    ul {
      position: absolute;
      display: none;
      &.nav-show { display: block; }
    }
    li { display: block; }
    a {
      display: block;
      border-width: 2px 0px 0px;
    }
  }
}
@include until($screenSmall) { nav {width:50%} }

// 2 Breadcrumbs
.nav-breadcrumb {
  li{
    &:not(:last-child):after{ content: ">" }
    a, span { padding: $verticalSpace/2 $gutter/2 $verticalSpace/2 $gutter;}
    a { border-width: 0px; }
  }
}

// 3 Pagination
.nav-pagination {
  li {
    a { border-width: 0px; }

    &:first-child a:before { padding-right: $gutter/3; content: "|<<" }
    &:last-child a:after { padding-left: $gutter/3; content: ">>|" }
    a[rel*="prev"]:before { padding-right: $gutter/3; content: "<" }
    a[rel*="next"]:after { padding-left: $gutter/3; content: ">" }
  }
}

// 3.1 Block Pagination
.nav-pagination-block {
  @extend .nav-pagination;
  li {
    margin-right: $verticalSpace/2;
    a {
      background-color: $blockNavBackgroundColour;
      color: $blockNavTextColour;
      &:hover { background-color: $blockNavHoverColour; }
    }
    span {
      display: inline-block;
      padding: $verticalSpace/2 $gutter;
      background-color: $paginationBlockActiveBackground;
    }
  }
}

/*2. MENUS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
menu {}
menu[type="list"] {}
menu[type="toolbar"] {list-style:none;}
menu[type="toolbar"] button {
	background:none;
	border:4px solid $lightGrey;
	padding:3px; margin:0px;
}
menu[type="context"] {}
